/*bc.css by, Easton Snow*/
/*Border init*/
.bc-black,.bc-hover-black:hover{background-color: black!important;}
.bc-orange,bc.bc-hover-orange:hover{background-color: orange;}
.bc-yellow,bc.bc-hover-yellow:hover{background-color: yellow;}
.bc-red,bc.bc-hover-red:hover{background-color: red;}
.bc-indigo,bc.bc-hover-indigo:hover{background-color: indigo;}
.bc-white,.bc-hover-white:hover{background-color: white!important;}
.bc-gold,.bc-hover-gold:hover{background-color: gold!important;}
.bc-goldenrod,.bc-hover-goldenrod:hover{background-color: goldenrod!important;}
.bc-green,.bc-hover-green:hover{background-color:#4CAF50!important;color: white !important;}
.bc-grass,.bc-hover-grass:hover{background-color: rgb(80, 221, 80)!important;}
.bc-sky,.bc-hover-sky:hover{background-color: skyblue!important;}
.bc-link,.bc-hover-link:hover{background-color: rgb(0, 0, 199);}
.bc-mint,.bc-hover-mint:hover{background-color:rgb(162,228,184);}
/*Text Color*/
.bc-text-orange,bc.bc-hover-text-orange:hover{background-color: orange;}
.bc-text-yellow,bc.bc-hover-text-yellow:hover{background-color: yellow;}
.bc-text-red,bc.bc-hover-text-red:hover{background-color: red;}
.bc-text-indigo,bc.bc-hover-text-indigo:hover{background-color: indigo;}
.bc-text-black,.bc-hover-text-black:hover{color: black!important;}
.bc-text-gold,.bc-hover-text-gold:hover{color: gold!important;}
.bc-text-goldenrod,.bc-hover-text-goldenrod:hover{color: goldenrod!important;}
.bc-text-green,.bc-hover-text-green:hover{color:#4CAF50!important;}
.bc-text-grass,.bc-hover-text-grass:hover{color: rgb(80, 221, 80)!important;}
.bc-text-sky,.bc-hover-text-sky:hover{color: skyblue!important;}
.bc-text-link,.bc-hover-text-link:hover{color: rgb(0, 0, 199)!important;text-decoration: underline!important;}
.bc-text-mint,.bc-hover-text-mint:hover{color:rgb(162,228,184)}
/*Border Color*/
.bc-bdc-orange{background-color: orange;}
.bc-bdc-yellow{background-color: yellow;}
.bc-bdc-red{background-color: red;}
.bc-bdc-indigo{background-color: indigo;}
.bc-bdc{border-color: black;}
.bc-bdc-white{border-color: white;}
.bc-bdc-green{border-color: #4CAF50;}
.bc-bdc-grass{border-color: rgb(80, 221, 80);}
.bc-bdc-sky{border-color: skyblue;}
.bc-bdc-gold{border-color: gold;}
.bc-bdc-blue{border-color: goldenrod;}
/*Border type*/
.bc-border{border-style:solid!important;border-width: 1px!important;}
.bc-border-5{border-style:solid!important;border-width: 5px!important;}
/*Extra*/
.bc-opacity-half,.bc-hover-opacity-half:hover{opacity: 0.5;}
.bc-opacity-full,.bc-hover-opacity-full:hover{opacity: 1;}
.bc-m{margin:0;}
.bc-m-16{margin: 16;}
/* Border Radius */
.bc-r-25{border-radius: 25px;}
.bc-r-10{border-radius: 10px;}
.bc-r-5{border-radius: 5px;}
.bc-r-0{border-radius: 0px;}
/* Position */
.bc-absolute{position:absolute!important;}
.bc-relative{position:relative!important;}
.bc-fixed{position:fixed!important;}
/* display type */
.bc-inline{display: inline;};
/* Index */
.bc-index{z-index: -1;}
/* Anim */
.bc-spin {animation: rotation 1s infinite linear;}
.bc-once-spin{animation: rotation 0.5s /*infinite*/ linear;}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
/* Pos based */
.bc-true-center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bc-left-center{align-self: center!important;}
.bc-foot{
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -0%);
}
